/* <--------------------- 'Basic Rule' ---------------------> */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /*10px*/

    ::selection {
        background: rgba(94, 79, 63, 0.3);
    }
}

body {
    background: #280635;
    padding: 2.5vh;
}

h1, h2, h3 {
    font-family: 'Courier Prime', serif;
    color: rgba(235, 211, 248, 0.8);
}

/*                 --------***--------                 */


/* <=================== 'Instructions' Section ===================> */

.fa-circle-info {
    position: absolute;
    top: 5vh;
    right: 6vw;

    color: rgba(255, 246, 246, 0.5);

    font-size: 3rem;
    z-index: 5;
    transition-duration: 1s;

    &.opened {
        color: rgba(255, 246, 246, 1);
    }
}

.info {
    transform-origin: top right;
    animation: info-appear 0.5s linear;
    z-index: 2;

    position: absolute;
    padding: 6vh 8vw;
    margin: 5vh 7vw;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;

    &.i-hide {
        opacity: 0;
        pointer-events: none;
        scale: 0;
        animation: info-hide 0.5s linear;
        z-index: 2;
    }

    h2 {
        font-size: 4rem;
        color: rgba(235, 211, 248, 0.8);
        text-align: center;
    }

    & > ul > li {
        font-size: 2.4rem;
        margin-top: 2rem;
        color: rgba(235, 211, 248, 0.7);

        & > ul > li {
            font-family: "Varela Round", sans-serif;
            font-size: 1.8rem;

            color: rgba(255, 246, 246, 0.7);

            margin: 0.5rem 0 0 5rem;
            list-style: none;
            position: relative;

            &:before {
                --color: rgba(255, 246, 246, 0.3);
                content: "";

                display: block;
                width: 0.5rem;

                position: absolute;
                left: -1.5rem;
                top: 0.9rem;

                border: 2px solid var(--color);
                background: var(--color);
                border-radius: 20px;
            }
        }
    }
}

@keyframes info-appear {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes info-hide {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0;
    }
}

/* <!------------------- **** 'Instructions' **** -------------------!> */


/* <=================== 'Game' Section ===================> */

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 95vh;
    background-color: #5a0187;
    border-radius: 1rem;

    transition-duration: 1s;

    &.game-over {
        background-color: #280635;;
    }
}

/* <--------------------- 'h1' ---------------------> */
h1 {
    font-size: 8rem;
    text-align: center;
    padding-right: 1rem;
    line-height: 100%;
    text-wrap: nowrap;
}

.h1 {
    animation: load 1s linear;
    transition-duration: 0.5s;
    position: absolute;
    top: 45%;
    z-index: 1;

    .first {
        --width: 96.5rem;

        animation: writing 2s linear;
        transition-duration: 0.2s;
    }

    .second {
        --width: 14.2rem;
        width: var(--width);
        margin: auto;
        transition-duration: 0.2s;
    }

    &.load {
        .first {
            display: block;
            overflow: hidden;
            animation: writing 1.5s linear;
            border-right: 0.5rem solid rgba(235, 211, 248, 0.7);
        }

        .second {
            display: block;
            overflow: hidden;
            animation: writing 0.5s 1.5s linear, writing 1.5s 2.5s linear infinite alternate-reverse;
            border-right: 0.5rem solid rgba(235, 211, 248, 0.7);
        }

        .first-over {
            display: block;
        }

        .second-over {
            animation: writing 1.5s 0.5s linear infinite alternate-reverse;
        }
    }

    &.hide {
        opacity: 0;
    }

    &.game-time {
        transform: translate(0, -22rem);
    }
}

@keyframes writing {
    0% {
        width: 0;
    }
    100% {
        width: var(--width);
    }
}

/*                 --------***--------                 */

/* <--------------------- 'Buttons' ---------------------> */

.buttons {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 25px;
    transition-duration: 0.5s;

    &.game-time {
        transform: translate(0, 10rem);
    }

    .btn {
        --delay: 0;
        display: inline-block;
        height: 20rem;
        width: 20rem;
        transition-duration: 0.5s;
        border: 5px solid rgba(90, 1, 135, 0.44);
        border-radius: 5rem;
        box-shadow: 0 0 5px 1px rgba(46, 7, 63, 0.3);

        opacity: 0;
        scale: 0;

        transform-origin: center;
        transition: all 0.3s ease-in-out var(--delay);
    }

    .appear {
        opacity: 1;
        scale: 1;
    }

    .clicked {
        opacity: 0.5;
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.28);
    }

    .red {
        background-color: rgba(211, 47, 47, 0.9);
    }

    .green {
        background-color: rgba(76, 175, 80, 0.9);
    }

    .blue {
        background-color: rgba(0, 136, 255, 0.8);
    }

    .yellow {
        background-color: rgba(255, 215, 0, 0.8);
    }

    .game-over {
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
        animation: game-over 0.2s linear infinite alternate;
    }

    .game-over-other {
        opacity: 0.5;
    }
}

@keyframes game-over {
    from {
        background: black;
    }
    to {
        background: red;
    }
}

/*                 --------***--------                 */

/* <!------------------- **** 'Game' **** -------------------!> */

/* <=================== 'Responsive' Section ===================> */

@media screen and (width >= 2400px) {
    html {
        font-size: 100%; /*16px*/
    }
}

@media screen and (width <= 2400px) {
    html {
        font-size: 93.75%; /*15px*/
    }
}

@media screen and (width <= 2200px) {
    html {
        font-size: 87.5%; /*14px*/
    }
}

@media screen and (width <= 2000px) {
    html {
        font-size: 81.25%; /*13px*/
    }
}

@media screen and (width <= 1800px) {
    html {
        font-size: 75%; /*12px*/
    }
}

@media screen and (width <= 1600px) {
    html {
        font-size: 62.75%; /*10px*/
    }
}

@media screen and (width <= 1400px) {
    html {
        font-size: 56.25%; /*9px*/
    }
}

@media screen and (width <= 1200px) {
    html {
        font-size: 50%; /*8px*/
    }
}

@media screen and (width <= 1000px ) {
    html {
        font-size: 40.375%; /*6.5px*/
    }
}

@media screen and (width <= 750px ) {
    html {
        font-size: 37.5%; /*6px*/
    }

    .h1 {
        h1 {
            text-wrap: wrap !important;
        }

        &.load {
            .first {
                animation: fade 1.5s linear;
                border: none;
            }
            .second {
                animation: fade 1.5s  linear, writing 1.5s linear infinite alternate-reverse;
                border-right: 0.5rem solid rgba(235, 211, 248, 0.7);
            }

            .first-over {
                display: block;
            }

            .second-over {
                animation: writing 1.5s 0.5s linear infinite alternate-reverse;
            }
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to{
            opacity: 100%;
        }
    }
}

@media screen and (width <= 550px ) {
    html {
        font-size: 31.25%; /*5px*/
    }
}

/* <!------------------- **** 'Responsive' **** -------------------!> */